<div>
<label>description</label>
<div class="field"><input ng-model="description" ng-change="freezeDescription()"/></div>
<label>time</label>
<div class="field"><input ng-model="timeOfDay"/></div>
<label>choose things to action</label>
<div>
<div class="things">
	<div ng-repeat="thing in actionModels" class="thing" ng-class="{selected: thing.selected}">
    <div class="selector"><input type="checkbox" ng-model="thing.selected"></div>
    <span class="name" ng-click="toggleSelect(thing)">{{thing.description}} in {{thing.room}}</span>
    <div class="action" ng-click="toggleActionState(thing)">Turn It <strong>{{ thing.on ? "On" : "Off" }}</strong></div>
	</div>
</div>
</div>
<br/>

<div>{{message}}</div>

<div class="buttons">

</div>
<div class="buttons">
  <input type="button" class="button delete" value="delete" ng-click="delete()"/>
  <input type="button" class="button right" value="save" ng-click="save()"/>
  <input type="button" class="button cancel right" value="cancel" ng-click="cancel()"/>
</div>
</div>