<div>
<dl>
<dt>description</dt>
<dd><input ng-model="description" ng-change="freezeDescription()"/></dd>
<dt>time</dt>
<dd><input ng-model="timeOfDay"/></dd>
<dt>things</dt>
<dd>
<input type="button" value="add" ng-click="add()"/>
<select ng-model="selected">
	<option ng-repeat="thing in availableThings" value="{{thing.id}}">{{thing.description}} in {{thing.room}}</option>
</select>
<ul>
	<li ng-repeat="thing in selectedThings">
		<input type="checkbox" ng-model="thing.selected" ng-checked=""><label>{{thing.description}} in {{thing.room}}</label>
		<input type="radio" ng-model="thing.on" value="true"/><label>on</label>
		<input type="radio" ng-model="thing.on" value="false"/><label>off</label>
	</li>
</ul>
<input type="button" value="remove"  ng-click="remove()"/>
</dd>
</dl>
<br/>

<div>{{message}}</div>
<input type="button" value="save" ng-click="save()"/>
<input type="button" value="delete" ng-click="delete()"/>
<input type="button" value="cancel" ng-click="cancel()"/>
</div>