<div>
<label>description</label>
<div class="field"><input ng-model="description" ng-change="freezeDescription()"/></div>
<label>time</label>
<div class="field"><input ng-model="timeOfDay" placeholder="hh:mm"/></div>
<label>choose things to action</label>
<div>
<div class="things">
	<div ng-repeat="model in actionModels" class="thing" ng-class="{selected: model.selected}">
    <div class="selector"><input type="checkbox" ng-model="model.selected"></div>
    <span class="name" ng-click="toggleSelect(model)">{{model.description}} in {{model.room}}</span>
    <div class="action" ng-click="toggleActionState(model)" action-label="model"></div>
	</div>
</div>
</div>
<label>repeat</label>
<div class="buttons toggle-button">
  <div class="button" ng-class="{ selected: !repeatDaily}" ng-click="setRepeatDaily(false)">once off</div>
  <div class="button" ng-class="{ selected: repeatDaily}" ng-click="setRepeatDaily(true)">daily</div>
</div>
<label>duration</label>
<div class="field"><input ng-model="duration" placeholder="hh:mm:ss"/></div>
<br/>

<div>{{message}}</div>

<br/>

<div class="buttons">
  <input type="button" class="button delete" value="delete" ng-click="delete()"/>
  <input type="button" class="button right" value="save" ng-click="save()"/>
  <input type="button" class="button cancel right" value="cancel" ng-click="cancel()"/>
</div>
</div>